@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.lugrasimo-regular {
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
  }
.kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
}

:root{
    --cor-body:#0313a5;
    --cor-corpo:#0D0D0D;
    --cor-sessao:#0476D9;
    --cor-sessao-principal:#2a534cc5;
    --cor-produto04:#05C7F2;
}

*{
    margin: 0px;
    color: aliceblue;
}
body{
    background-color: var(--cor-body);
}

/* Cabeça */

header{
    text-align: center;
    margin: 0px;
    background-image: linear-gradient(to bottom, var(--cor-body) 10%, var(--cor-corpo));
}
header > h1{
    font-family: "Lugrasimo";
    font-size: 60px;
}
header > a, p{
    margin: 10px;
    font-family: "Kanit", sans-serif;
}

/* Corpo 01*/

main{
    margin: auto;
    min-width: 400px;
    max-width: 1000px;
    background-color: var(--cor-corpo);
    position: relative;
}
#produto01{
    border-radius: 0px 15px 15px 0px;
    width: 390px;
    height: 390px;
    margin: auto;
    display: inline-block;
    background-color: var(--cor-body);
}
#prod01-img01{
    margin-left: 60px;
}
#produto01 > h2{
    text-align: center;
    margin-bottom: 10px;
}
#produto01 > p{
    margin-top: 0px;
}

/* Corpo 02 */

#produto02{
    border-radius: 15px 0px 0px 15px;
    width: 390px;
    height: 390px;
    float: right;
    text-align: center;
    background-color: var(--cor-body);
}
#prod02-img01{
    margin-top: 20px;
    width: 180px;
    border-radius: 0px 15px 15px 0px;
}
#prod02-img02{
    float: right;
    position: relative;
    top: -67%;
}
.img-prod02{
    border-radius: 0px 15px 15px 0px;
}
#fone{
    border-radius: 15px 0px 0px 15px;
}
#produto02 > button {
    width: 100px;
    height: 70px;
    background-color: #053F41;
    border-radius: 15px;
    position: relative;
    left: 0.5%;
}

/* Corpo 03 */

#produto03{
    width:900px;
    height: 590px;
    text-align: justify;
    border-radius: 10px;
    margin: 30px auto 30px auto;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('tattoo.jpg');
    box-shadow: inset 1px 2px 15px #03292bf5;
}
#produto03 > p {
    color: black;
    margin-left: 530px;
    padding-top: 100px;
    text-align: center;
}
#produto03 > button{
    background-color: #053F41;
    border-radius: 10px;
    width: 100px;
    margin-left: 40px;
    text-align: center;
}
#prod03-img01{
    width: 422px;
    height: 280px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 60px;
    padding-bottom: 0px;
}
#prod03-img02{
    width: 469px;
    height: 270px;
    float: left;
    padding: 10px;
}

/* Corpo 04 */

#produto04{
    margin: 30px auto 30px auto;
    width: 900px;
    height: 410px;
    border-radius: 10px;
    box-shadow: inset 1px 2px 15px #03292bf5;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('wallpaper006.jpg');
}
.prod04{
    width: 184px;
    height: 108px;
    display: inline-block;
    margin: 12px 40px 20px 65px;
}
.prod04 > p{
    color: black;
    margin: 2px;
    font-size: 14px;
}
.prod04 > div{
    float: left;
}

/* Corpo 05 */
#produto05 > div{
    width: 900px;
    height: 500px;
    margin: auto;
    background-color: aliceblue;
    border-radius: 15px;
}
#produto05 > div > h2{
    color: #0D0D0D;
    text-align: center;
    margin: 10px;
}

/* Efeitos */
#produto01:hover{
    box-shadow: 1px 1px 10px #ffffffa8;
    transition: 0.3s;
}
#produto02:hover{
    box-shadow: 1px 1px 10px #ffffffa8;
    transition: 0.3s;
}
#prod03-img01 > img:hover{
    box-shadow: 1px 1px 10px #141414d0;
    transition: 0.3s;
    transform: scale(103%);
}
#prod03-img02 > img:hover{
    box-shadow: 1px 1px 10px #141414d0;
    transition: 0.3s;
    transform: scale(103%);
}
.img-pq:hover{
    box-shadow:1px 1px 10px #141414d0;
    transition: 0.5s;
    transform: scale(150%);
    background-color: rgba(255, 255, 255, 0.801);
}
#prod04-img02:active{
    transform: translate(400%, 150%) scale(300%);
}
#prod04-img03:active{
    transform: translate(0%, 150%) scale(300%);
}
#prod04-img04:active{
    transform: translate(-250%, 150%) scale(300%);
}
#prod04-img05:active{
    transform: translate(400%, 0%) scale(300%);
}
#prod04-img06:active{
    transform: scale(300%);
}
#prod04-img07:active{
    transform: translate(-250%, 0%) scale(300%);
}
#prod04-img08:active{
    transform: translate(400%, -150%) scale(300%);
}
#prod04-img09:active{
    transform: translate(0%, -150%) scale(300%);
}
#prod04-img10:active{
    transform: translate(-250%, -150%) scale(300%);
}